body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background: #00325E;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #FFF;
    padding: 8px 16px;
    height: 40px;
    text-decoration: none;
    cursor: pointer;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

li a.active {
    background-color: #EE983B;
    color: white;
}

li a:hover:not(.active) {
    background-color: #16AED4;
    color: white;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background: url(/public/images/avion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 25%;
    background-position: center;

}

.titulo {
    color: #FFF;
    text-align: center;
    font-family: Istok Web;
    font-size: 60px;
    line-height: normal;
}

.subtitulo {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    line-height: normal
}


